<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
   
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MariaDBDialect
        </property>
      
        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
      
        <!-- Assume test is the database name -->
      
        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/jahresprojekt
        </property>
      
        <property name = "hibernate.connection.username">
            root
        </property>
      
        <property name = "hibernate.connection.password"></property>
        
        <property name="hibernate.show_sql">true</property>
      
        <property name="hibernate.id.new_generator_mappings">false</property>
      
        <property name="hibernate.hbm2ddl.auto">update</property>
      
        <!-- List of Class files -->
        <mapping class="de.jahresprojekt.persistence.entities.Ort"/>
        <mapping class="de.jahresprojekt.persistence.entities.Nutzer"/>
        <mapping class="de.jahresprojekt.persistence.entities.Mieter"/>
        <mapping class="de.jahresprojekt.persistence.entities.Mietkomplex"/>
        <mapping class="de.jahresprojekt.persistence.entities.Mietobjekt"/>
        <mapping class="de.jahresprojekt.persistence.entities.NebenkostenJahr"/>
        <mapping class="de.jahresprojekt.persistence.entities.Ansprechpartner"/>
        <mapping class="de.jahresprojekt.persistence.entities.Zahlung"/>
        <!--<mapping resource = "main/java/de/jahresprojekt/persistence/OrtPojo.hbm.xml"/>-->
      
    </session-factory>
</hibernate-configuration>
